<!-- Comments section -->
<h2 class="title title--h2">Comments</h2>

<script src="https://giscus.app/client.js"
        data-repo="iastrebov/egor.tech"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMTI2MTY2Mjk="
        data-category="General"
        data-category-id="DIC_kwDOEqImtc4CYC1Z"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>