<!-- Sidebar -->
<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="{{ site.url }}/assets/images/my-avatar.png" alt="Egor Iastrebov">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">Egor Iastrebov</h3>
                <div class="badge">Software Engineer</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i
                    class="feathericon-chevron-down"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Email</span>
                        <a class="text-overflow" href="mailto:astore.hawk@gmail.com" title="astore.hawk@gmail.com">astore.hawk@gmail.com</a>
                    </div>
                </li>
                <!-- Birthday -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Birthday</span>
                        <span class="text-overflow" title="April 18, 1994">April 18, 1994</span>
                    </div>
                </li>
                <!-- Location -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Location</span>
                        <span class="text-overflow" title="Porto, Portugal">Porto, Portugal</span>
                    </div>
                </li>
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            <div class="social">
                <a class="social__link" href="https://github.com/iastrebov/"><i class="feathericon-github"></i></a>
<!--                <a class="social__link" href="https://t.me/egor_hawkins"><i class="feathericon-telegram"></i></a>-->
                <a class="social__link" href="https:/linkedin.com/in/iastrebov/"><i class="feathericon-linkedin"></i></a>
            </div>
        </div>
    </div>
</aside>